AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
   RewriteEngine On
   Options +FollowSymlinks
   RewriteBase /
   DirectoryIndex public/index.php
   RewriteRule ^(.*)$ public/index.php [L]
</IfModule>

RewriteRule (.+)/$ /$1 [L,R=301]
